$font-main: "PTSans", "Arial", sans-serif;

$color-white: #ffffff;

$color-black: #000000;
$color-light-black: #333333;

$color-smoky-white: #eeeeee;
$color-smok-gray: #f2f2f2;
$color-smok-gray2: #d5d5d5;

$color-dull-grey: #5c6870;
$color-gray: #d6d6d6;
$color-marble: #eaeaea;
$color-light-gray: #e5e5e5;
$color-light-gray2: #e6e6e6;
$color-dark-gray: #766357;

$color-blue: #81b3d2;
$color-blue-grey: #669ec0;
$color-blue-grey-dack: #5496bd;

$color-error: #ff0000;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
